<section class="links">
    {{ range $.Site.Data.about.links  }}
        <div>
            <h2 class="links__big-title">
                {{.big_title}}
            </h2>
            <div class="links__lists_wrapper">
                <span class="links__title">
                    {{.title}} <span class="links__title_arrow">→</span>
                </span>
                <ul class="links__list">
                    {{ range .list }}
                    <li class="links__list_items">
                        <a target="_blank" href="{{.link}}">{{.label}}</a>
                        {{if .icon}}
                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.1666 0H7.49995V3.66667H15.9072L0.703613 18.8702L3.29634 21.4629L18.4999 6.25933V14.6667H22.1666V0Z" fill="#1E1E1E"/>
                        </svg>
                        {{end}}
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    {{end}}
</section>
