</main>

</div>

<footer>
	<div class="footer__section">
		<div class="footer__wrapper">
			<div class="footer__date_and_rights">
				<div class="footer__date">
					{{ .Site.Params.user.name }} &copy;
					{{ $first_date := .Site.Params.footer.cr_date_start}}
					{{ $second_date := dateFormat "2006" now }}
					{{ cond (eq $first_date $second_date) $first_date (add (add (string $first_date) "-") (string $second_date))}}
				</div>
				<div class="footer__logo footer__logo_white">
					<img width="52" height="52" src="{{.Site.Params.user.logoPATH}}"/>
				</div>
				<div class="footer__rights">
					all rights reserved
				</div>
			</div>
			<div class="footer__divider"></div>
			<div class="footer__big_title">
				{{.Site.Params.footer.domain}}
			</div>
			<div class="footer__develop_by">
				Developed by <a target="_blank" href="{{.Site.Params.footer.developer_link}}">
				{{.Site.Params.footer.developer_title}}
			</a>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
