<section class="pagination">
    <div class="pagination__wrapper">
        <div class="pagination__divider"></div>
        <div class="pagination__list">
            {{ with .PrevInSection }}
                <a class="pagination__item" href="{{ .Permalink }}">
                    <svg width="33" height="12" viewBox="0 0 33 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.20726 1.70718L5.79304 0.292969L0.0859375 6.00007L5.79304 11.7072L7.20726 10.293L3.91443 7.00014L32.5002 7.00012V5.00012L3.9143 5.00014L7.20726 1.70718Z" fill="#1E1E1E"/>
                    </svg>
                    <div>
                        PREVIOUS PROJECT
                    </div>
                </a>
            {{ end }}

            {{ with .NextInSection }}
                <a class="pagination__item" href="{{ .Permalink }}">
                    <div>
                        NEXT PROJECT
                    </div>
                    <svg width="33" height="12" viewBox="0 0 33 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.7929 10.293L27.2071 11.7072L32.9142 6.00008L27.2071 0.292969L25.7929 1.70718L29.0858 5.00009L0.5 5.0001V7.0001L29.0858 7.00009L25.7929 10.293Z" fill="#1E1E1E"/>
                    </svg>
                </a>
            {{ end }}
        </div>
        <div class="pagination__divider"></div>
    </div>
</section>