<section class="post-meta-data">
    <div class="post-meta-data__wrapper">
        <div class="post-meta-data__date-item">
            <div>Year:</div>
            <div>{{.Params.date | time.Format "2006"}}</div>
        </div>
        <div class="post-meta-data__date-item">
            <div>Tags: </div>
            <ul class="post-meta-data__tags-list">
                {{ range .Params.tags }}
                <li class="post-meta-data__tags-list-item">
                    {{.}}
                </li>
                {{ end }}
            </ul>
        </div>
        {{if isset .Params "web"}}
        <div class="post-meta-data__date-item">
            <div>Web:</div>
            <a href="{{.Params.web}}">{{.Params.web}}</a>
        </div>
        {{end}}
    </div>
</section>