<section class="post-header">
    {{ $list := (.Site.GetPage "section" "projects").Pages }}

    <div class="post-header__divider"></div>
    <div class="post-header__wrapper">
        <div class="post-header__number">
            <span class="post-header__number__first">
                {{ print "0" (first 1 .File.ContentBaseName) }}
            </span>
            / {{print "0" (len $list)}}
        </div>
        <div class="post-header__title">
            {{ .Title }}
        </div>
    </div>
    <div class="post-header__divider"></div>
</section>