<section class="projects">
    {{ $list := sort (.Site.GetPage "section" "projects").Pages ".File.Dir" "asc" }}
    <div class="projects__wrapper">
        <div class="projects__title-wrapper">
            <h2 class="projects__big-title">
                {{ .Site.Params.projects.title }} ({{len $list}})
            </h2>
        </div>
        <ul class="projects__list">
            {{ range $index, $element := $list }}
            <div class="projects__list_header">
                <span class="projects__list-count">
                   {{$number := add $index 1}}
                   {{cond (ge $number 10) ($number) (print "0" $number)}} /
                </span>
                <span class="projects__list-date">
                    {{ .Date.Format "2006" }}
                </span>
            </div>
            <div class="projects__divider"></div>
            <article class="projects__list_item">
                <h3 class="projects__title">
                    <a class="projects__link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                    <svg width="80" height="80" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 6H9V8H13.5858L5.29291 16.2928L6.70712 17.7071L15 9.41418V14H17V6Z"/>
                    </svg>
                </h3>
                <div class="projects__tags-list">
                    {{range .Params.tags}}
                    <span class="projects__tags">{{.}}</span>
                    {{end}}
                </div>
            </article>
            {{ end }}
        </ul>
    </div>
</section>