<section class="hero">
    <div class="hero__divider"></div>
    <div class="hero__wrapper">
        <div>
            <div class="hero__text">
                <span class="hero__text_big">AKH</span>
                <span class="hero__text_rights"> ©</span>
            </div>
            <div class="hero__text">
                <div class="hero__name">
                    {{ .Site.Params.user.name }}
                </div>
            </div>
        </div>
    </div>
    <div class="hero__divider"></div>
    <div class="hero__additional-text">
        <span class="hero__additional-text_location">
            <div>{{ .Site.Params.user.location_1 }}</div>
            <div>{{ .Site.Params.user.location_2 }}</div>
        </span>
        <span> {{ .Site.Params.user.post }}</span>
        <a target="_blank" href="{{ .Site.Params.user.cords_map_link }}" class="hero__additional-text_cords">
            <div> {{ .Site.Params.user.cords_1 }}</div>
            <div> {{ .Site.Params.user.cords_2 }}</div>
        </a>
    </div>
    <div class="hero__avatar_wrapper">
        <div class="hero__gradient_1"></div>
        <div class="hero__gradient_2"></div>
        <img src="{{ .Params.imgSrc }}" alt="avatar" class="hero__avatar_img" />
    </div>
</section>