/* LAYOUT */
@font-face {
  font-family: "SuisseIntl";
  src: url('/fonts/SuisseIntl-Regular.otf');
}

@font-face {
  font-family: "SuisseIntlBold";
  src: url('/fonts/SuisseIntl-Bold.otf');
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 32px;
}

body {
  font-family: "SuisseIntl", sans-serif;
  background-color: var(--body-color);
  margin: 0;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 24px;
  }

  .post-styles p {
    text-align: center;
    text-indent: 1px !important;
    justify-self: center !important;
  }
}

.wrapper {
  padding: 0 5%;
}

.home-page-styles {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
}