.post-header__divider {
    border-top: 2px solid var(--black);
    margin: 40px 0;
}

.post-header__number {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
}

.post-header__number__first {
    color: var(--red);
}

.post-header__title {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 80px;
    font-weight: 500;
    word-break: break-all;
}

.post-meta-data__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 80px;
    margin-top: 60px;
}

.post-meta-data__date-item {
    display: flex;
    gap: 100px;
}

.post-meta-data__date-item a{
    text-decoration: none;
    color: var(--black)
}

.post-meta-data__tags-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.pagination__wrapper {
    margin-top: 180px;
}

.pagination__divider {
    border-top: 2px solid var(--black);
}

.pagination__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.pagination__item {
    display: flex;
    gap: 24px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-size: 24px;
    line-height: 24px;
}

.post-styles img {
    width: 100%;
    height: 41rem;
    object-fit: cover;
}

.post-meta-data__tags-list-item {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 42px;
}

.post-styles {
    font-size: 1.1rem;
    line-height: 1.4rem;
    display: grid;
}

.post-styles figure {
    text-align: center;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    margin-inline-start: 0;
    margin-inline-end: 0
}

.post-styles figure img{
    border-radius: 2.5rem;
}

.post-styles a {
    color: var(--red);
    text-decoration: none;
}

.post-styles br {
    content: "";
    display: block;
    margin: 1rem 0;
}

.post-styles h2 + p {
    justify-self: end !important;
}

.post-styles p {
    max-width: 30rem;
}

.post-styles p {
    text-indent: 70px;
}

.post-styles p:nth-of-type(2n + 1) {
    justify-self: end;
}