.tags__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags__title {
    color: var(--red);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.tags__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0;
}

.tags__list_item {
    list-style: none;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-all;
    font-size: 1.9rem;
    line-height: 1.9rem;
    text-decoration: none;
    color: var(--black);
    border: 0.1rem solid var(--black);
    padding: 12px 32px;
    border-radius: 42px;
}

.tags__list_item:hover {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--white);
}