.footer {
	padding: 50px 5% 0;
	background: var(--black);
	color: var(--white);
}

.footer__info {
	text-wrap: balance;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin-bottom: 80px;

	font-size: var(--font-size-h3);

	#logo {
		justify-self: center;
		align-self: center;
		width: 52px;
		height: 50px;
		color: var(--white);
	}

	p {
		margin: 0;
	}
}

.footer__info-item {
	display: flex;
	flex-direction: column;
}

.footer__info-credentials {
	display: flex;
	justify-self: end;
	align-self: center;
	gap: 28px;
	width: min-content;
}

.footer__big-title {
	word-wrap: anywhere;
	text-wrap: balance;
	margin-top: 130px;
	margin-bottom: 120px;
	text-align: center;
	line-height: 110%;
	font-size: 192px;
	font-family: var(--font-family-heading);
}

.footer__project-author {
	padding-bottom: 60px;
	text-align: center;
	font-size: var(--font-size-h3);

	a {
		color: var(--primary);
	}
}
