@font-face {
	src: url("/fonts/SuisseIntl.woff2") format("woff2");
	font-weight: 400;
	font-family: "Suisse Int’l";
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("/fonts/SuisseIntlBold.woff2") format("woff2");
	font-weight: bold;
	font-family: "Suisse Int’l";
	font-style: normal;
	font-display: swap;
}

:root {
	--font-family-heading: "Suisse Int’l", sans-serif;

	font-family: "Suisse Int’l", sans-serif;
}
