/* Suisse Int’l Static */

@font-face {
	src: url("/fonts/SuisseIntl.woff2") format("woff2");
	font-weight: 400;
	font-family: "Suisse Int’l";
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("/fonts/SuisseIntlBold.woff2") format("woff2");
	font-weight: 700;
	font-family: "Suisse Int’l Bold";
	font-style: normal;
	font-display: swap;
}

/* Variables */

:root {
	--font-family-text: "Suisse Int’l", sans-serif;
	--font-family-heading: "Suisse Int’l Bold", sans-serif;
}
