@font-face {
	font-family: 'SuisseIntl';
	src: url('/fonts/SuisseIntl-Regular') format('otf');
	font-weight: normal;
}

@font-face {
	font-family: 'SuisseIntlBold';
	src: url('/fonts/SuisseIntl-Bold') format('otf');
	font-weight: bold;
}

:root {
	--primary: #F0622C;
	--akh-black: #1E1E1E;
	--akh-gray: #E5E5E5;
	--akh-light-gray: #F2F6FC;
}

html {
	font-size: 32px;
	scroll-behavior: smooth;
}

body {
	font-family: 'SuisseIntl', sans-serif;
}
