:root {
	--font-size-site-name: 4.5rem;
	--font-size-footer-name: 6rem;
	--font-size-h1: 2.5rem;
	--font-size-h2: 1.5rem;
	--font-size-normal: 1rem;
	--font-size-small: 0.75rem;
	--font-size-extra-small: 0.5rem;
}

@media (width >= 1760px) {
	html {
		font-size: 32px;
	}
}
@media (1024px <= width < 1760px) {
	html {
		font-size: 24px;
	}
}
@media (width < 1024px) {
	html {
		font-size: 24px;
	}
}
