---
import { about } from "../../lib/config.js";
import Skills from "./Skill.astro";

const skills = about().skills;
---

<section class="skills">
	<div class="skills__wrapper">
		{
			skills.map((skill) => (
				<div>
					<Skills title={skill.title} skills={skill.list} />
				</div>
			))
		}
	</div>
</section>

<style>
	.skills {
		margin-top: 160px;
	}
	.skills__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
</style>
