---
import { about } from "../../lib/config.js";
import { parseDescription } from "../../lib/parseDescription.js";
import Icon from "../Icon.astro";

const aboutData = about().about;
const descList = parseDescription(aboutData.desc);
---

<section class="about">
	<div class="wrapper">
		<div class="about__about-me_text">
			<h2>
				{aboutData.title}
			</h2>
			<Icon size="90" name="arrow-right-long" />
			{descList.map((d) => <p>{d}</p>)}
		</div>
		<div class="avatar-wrapper">
			<img src="/aleks-about@2x.webp" alt="Aleks" class="avatar" />
		</div>
	</div>
</section>

<style>
	.wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
		justify-items: center;
		align-items: top;
		gap: 10px;
		margin-top: 100px;

		@media (max-width: 600px) {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 60px;
		}
	}
	.avatar {
		width: 400px;
		height: auto;
		border-radius: 0px;
	}

	.about__about-me_text {
		h2 {
			font-weight: 400;
			font-size: var(--font-size-h2);
		}

		p {
			text-indent: 70px;
			line-height: 1.15;
			font-size: var(--font-size-normal);
		}
	}
</style>
