:root {
    --black: #1E1E1E;
    --red: #F0622C;
    --white: #FFFFFF;
    --gray: #E5E5E5;
    --light-gray: #F2F6FC;
    --body-color: var(--red);
}

body {
    background-color: var(--body-color);
}

.about__about-me_wrapper {
    display: grid;
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 160px;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.about__about-me_wrapper h2{
    font-size: 80px;
    line-height: 80px;
    margin: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.about__about-me_wrapper p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: left;
    text-indent: 70px;
}

.about__about-me_text h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
}

.about__about-me_text object{
    margin-bottom: 20px;
}


.about__about-me_img_wrapper {
    justify-self: center;
}

.about__about-me_wrapper img {
    height: 600px;
    border-radius: 200px;
    overflow: hidden;
    z-index: 5;
}

.skills__title {
    font-size: 80px;
    line-height: 60px;
}

.skills__list_item-name {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    padding-bottom: 90px;
    padding-top: 80px;
}

.skills__list_item {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-left: 30px;
}

.skills__wrapper {
    display: grid;
    column-gap: 30px;
    font-size: 36px;
    line-height: 43px;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    margin-bottom: 160px;
}

.links__big-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.links__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 80px;
}

.links__lists_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    margin-bottom: 120px;
}

.links__list {
    margin: 0;
}

.links__title_arrow {
    display: inline-block;
    margin-left: 40px;
}

.links__list_items {
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 24px;
}

.links__list_items a{
    text-decoration: underline;
    color: var(--black)
}