.site__header {
	padding-top: 25px;
}

.nav__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	fill: var(--red);
}

.nav__logo {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.nav__logo-white {
	filter: brightness(0) invert(1);
}

.nav__text {
	border-bottom: 2px solid transparent;
	color: var(--black);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
}

.nav__text:hover {
	border-bottom: 2px solid var(--black);
}
