.tags__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags__title {
    color: var(--red);
    line-height: 2.5rem;
    font-weight: 500;
    font-size: 2.5rem;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0;
    list-style: none;
}

.tags__list__icon {
    align-self: center;
}

.tags__list_item {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 32px;
    border: 0.1rem solid var(--black);
    border-radius: 42px;
    color: var(--black);
    list-style: none;
    text-align: center;
    line-height: 1.9rem;
    text-decoration: none;
    font-size: 1.9rem;
    word-break: break-all;
}

.tags__list_item:hover {
    border-color: var(--white);
    background-color: var(--red);
    color: var(--white);
}