---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<BaseLayout title="[DEV] Aleks Kholopov — Digital Product Designer.">
	<main class="main">
		<div class="divider"></div>
		<div class="intro__wrapper">
			<p class="intro__site-name">AKH</p>
			<h1 class="intro__name">Aleks Kholopov</h1>
		</div>
		<div class="divider"></div>
		<section class="intro__additional">
			<div>
				<p>Based in Saint-Peterburg, Russia</p>
				<p>*Available Worldwide</p>
			</div>
			<h1 class="intro__additional-name">Product Designer</h1>
			<p class="intro__additional-cords">
				<span>59°56'19.07' N</span>
				<span>30°18'50.87' E</span>
			</p>
		</section>
		<section>
			<h1>Expertise</h1>
		</section>
		<section>
			<h1>Recent Projects</h1>
		</section>
		<section>
			<h1>Trusted by</h1>
		</section>
	</main>
</BaseLayout>
