---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brands from "../components/Brands.astro";
import Projects from "../components/Projects.astro";
import GoToTop from "../components/GoToTop.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Expertise from "../components/Expertise.astro";
import Intro from "../components/Intro.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="[DEV] Aleks Kholopov — Digital Product Designer">
	<main class="main column">
		<Header />
		<Hero />
		<Intro />
		<Expertise />
		<Projects />
		<Brands />
		<GoToTop />
	</main>
	<Footer />
</BaseLayout>

<style>
	:root {
		--logo-color: var(--primary);
	}
</style>
