---
import BaseLayout from "../layouts/base-layout.astro";
import Brands from "../components/brands.astro";
import Projects from "../components/projects.astro";
import GoToTop from "../components/go-to-top.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Expertise from "../components/expertise.astro";
import Intro from "../components/intro.astro";
import Hero from "../components/hero.astro";
---

<BaseLayout>
	<slot slot="head">
		<title>Aleks Kholopov — Digital Product Designer.</title>
	</slot>
	<Header />
	<main class="main column">
		<Hero />
		<Intro />
		<Expertise />
		<Projects />
		<Brands />
		<GoToTop />
	</main>
	<Footer />
</BaseLayout>
