<section class="about">
    <link rel="stylesheet" href="/src/styles/__old/about.css" type="text/css" media="all" />
    <div class="about__about-me_wrapper">
        <div class="about__about-me_text">
            <h2>
                {{.Params.header}}
            </h2>
            <object
                data="{{ .Params.iconSrc }}"
                width="{{ .Params.iconWidth | default 80 }}"
                height="{{ .Params.iconHeight | default 48 }}"
            >
            </object>
            {{ .Content }}
        </div>
        <div class="about__about-me_img_wrapper">
            <img src="{{ .Params.imgSrc }}" alt="avatar" class="about__about-me_img" />
        </div>
    </div>
</section>
