---

---

<section class="photo">
	<div class="photo-container">
		<div class="gradient-1"></div>
		<div class="gradient-2"></div>
		<img src="/aleks-main@2x.webp" alt="Aleks" class="image" />
	</div>
</section>

<style>
	.photo {
		place-content: center;
		display: grid;
		margin: 160px 0 100px;
	}
	.photo-container {
		position: relative;
	}
	img {
		width: 280px;
		height: auto;
		box-shadow: 0 8px 32px rgba(0, 14, 75, 0.24);
		border-radius: 200px;

		@media (width >= 1760px) {
			width: 400px;
		}
		@media (1024px <= width < 1760px) {
			width: 400px;
		}
	}

	.gradient-1 {
		filter: blur(100px);
		bottom: 0;
		left: -20px;
		background: linear-gradient(180deg, #ff7bca 0%, rgba(255 197 111));
	}

	.gradient-2 {
		filter: blur(50px);
		top: 0;
		right: -20px;
		background: linear-gradient(180deg, #f22fb0, rgba(255 255 255));
	}

	.gradient-1,
	.gradient-2 {
		position: absolute;
		z-index: -1;
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}
</style>
