.brands__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands__title {
    color: var(--red);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.brands__list {
    display: grid;
    row-gap: 80px;
    column-gap: 16px;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.brands__list-item {
    display: inline-block;
    justify-self: center;
}

.brands__list-item_image {
    width: 308px;
    height: 65px;
    object-fit: contain;
}

.brands__and-others {
    margin-top: 60px;
    font-size: 1rem;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}