.intro__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

.intro__site-name {
	position: relative;
	margin: 0;
	width: min-content;
	font-weight: 700;
	font-size: 144px;
	font-family: var(--font-family-heading);

	&:after {
		content: "©";
		transform: translate(-50%, 50%);
		position: absolute;
		right: -30px;
		bottom: 50%;
		font-size: 24px;
	}
}

.intro__name {
	margin: 20px 0 0;
	font-weight: normal;
	font-size: var(--font-size-normal);
	font-family: var(--font-family-text);
}

.intro__additional {
	text-wrap: balance;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	margin-top: 40px;
	line-height: 110%;
	text-transform: uppercase;
	font-size: var(--font-size-small);

	.intro__additional-name {
		justify-self: center;
	}

	.intro__additional-cords {
		display: flex;
		flex-direction: column;
		justify-self: end;
	}

	h1,
	p {
		margin: 0;
		font-weight: normal;
		font-size: var(--font-size-small);
	}
}
