---
import Icon from "./icon.astro";
---

<footer class="footer">
	<div class="footer__info">
		<p class="footer__info-item">
			<span>ALEKS KHOLOPOV © 2022-2023</span>
		</p>
		<Icon name="logo" />
		<p class="footer__info-item">
			<span>ALL RIGHTS RESERVED</span>
		</p>
	</div>
	<div class="divider is-white"></div>
	<div class="footer__big-title">AKH.DIGITAL</div>
	<div class="footer__project-author">
		Developed by
		<a href="https://www.linkedin.com/in/daniil-savitskii/">
			Daniil Savitskii
		</a>
	</div>
</footer>
