---
import Logo from "./Logo.astro";
---

<footer class="footer">
	<div class="footer__info">
		<p class="footer__info-item">
			<span>ALEKS KHOLOPOV © 2022-2023</span>
			<span>ALL RIGHTS RESERVED</span>
		</p>
		<Logo />
		<span class="footer__info-credentials">
			<span>Tg</span>
			<span>Li</span>
			<span>Email</span>
		</span>
	</div>
	<div class="divider is-white"></div>
	<div class="footer__big-title">AKH.DIGITAL</div>
	<div class="footer__project-author">
		Developed by
		<a href="https://www.linkedin.com/in/daniil-savitskii/">
			Daniil Savitskii
		</a>
	</div>
</footer>
