---
import Icon from "./icon.astro";
---

<header id="header" class="header">
	<nav class="navigation">
		<ul class="navigation__list">
			<li class="navigation__item">
				<a class="navigation__link" href="/">Home</a>
			</li>
			<li>
				<a class="navigation__logo" href="/">
					<Icon name="logo" />
				</a>
			</li>
			<li>
				<a class="navigation__link" href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>
