---
import HeadMeta from "../components/HeadMeta.astro";
import YaMetrika from "../components/third-party-script/YaMetrika.astro";
import { global } from "../lib/config";
import "../styles/index.css";
---

<html class="page" lang={global().language}>
	<head>
		<HeadMeta />

		<link
			rel="preload"
			href="/fonts/SuisseIntl.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<link
			rel="preload"
			href="/fonts/SuisseIntlBold.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>

		<slot name="head" />
	</head>
	<body class="page__body">
		<slot />

		<style is:global>
			.page {
				background-color: var(--body-color);
				color: var(--text-color);

				@media (prefers-reduced-motion: no-preference) {
					scroll-behavior: smooth;
				}
			}

			.page__body {
				margin: 0;
				line-height: 1;
				font-weight: 400;
				font-size: var(--font-size-normal);
			}

			.column {
				@media (width > 1024px) {
					padding-inline: 40px;
				}
				@media (width < 1024px) {
					padding-inline: 20px;
				}
			}

			.divider {
				margin: 20px 0;
				width: 100%;
				border-top: 2px solid var(--black);
			}

			.divider.is-white {
				border-top: 2px solid var(--white);
			}
		</style>

		<YaMetrika />
	</body>
</html>
