---
import "../styles/index.css";
---

<!doctype html>
<html class="page" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
	</head>
	<body class="page__body">
		<slot />
	</body>
</html>

<style>
	.column {
		@media (width >= 1760px) {
			padding-inline: calc((100% - 1676px) / 2);
		}
		@media (1024px <= width < 1760px) {
			padding-inline: 42px;
		}
		@media (width < 1024px) {
			padding-inline: 20px;
		}
	}
</style>
