<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ .Site.Title }} {{ if not .IsHome }} | {{ .Title }} {{ end }}</title>

	<link rel="icon" type="image/png" href="{{ .Site.Params.user.faviconPATH }}"/>

	<link rel="stylesheet" href="/css/common.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/header.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/footer.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/brands.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/hero.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/tags.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/projects.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/post.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/colors.css" type="text/css" media="all" />

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>

<body>

<div class="wrapper">

{{ partial "nav.html" . }}

<main class="content">
